<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        {% block meta %}{% endblock %}

        {% block style %}{% endblock %}
    </head>
    <body {% block bodyAttr %}{% endblock %}>
        <header>
            {#{% block header %}#}
                {#<nav>#}
                    {#<ul>#}
                        {#<li><a href="{{ sulu_content_root_path() }}">Homepage</a></li>#}
                        {#{% for item in sulu_navigation_root_tree('main') %}#}
                            {#<li>#}
                                {#<a href="{{ sulu_content_path(item.url) }}"#}
                                   {#title="{{ item.title }}">{{ item.title }}</a>#}
                            {#</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#</nav>#}
            {#{% endblock %}#}
        </header>

        {#{% block search %}#}
            {#<form action="{{ path('sulu_search.website_search') }}" method="GET">#}
                {#<input name="q" type="text" placeholder="Search" />#}
                {#<input type="submit" value="Go" />#}
            {#</form>#}
        {#{% endblock %}#}

        {% block menu %}
            <div id="menu">
                <div class="container">
                    <a href="{{ sulu_content_root_path() }}" ><img src="/image/menu_logo.png" class="menu_logo img-responsive"></a>
                    {#<img src="/image/menu_logo_m.png" class="menu_logo mobile-only">#}
                    <a  class="menu_link" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="container">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="close-icon">&times;</span><span class="sr-only">Close</span></button>
                        </div>
                        <div class="modal-body">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/about-us" class="menu-list-first" data-toggle="dropdown" data-target=".dropdown-menu-1">
                                            <span class="li-left-icon">/</span>about us</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-listings dropdown-menu-1">
                                            <a class="" href="/about-us#page-menu-index1">Music Experts</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/about-us#page-menu-index2">Crafted Work</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/about-us#page-menu-index3">Database</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/about-us#page-menu-index4">Network</a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/what-we-do" class="menu-list-first" data-toggle="dropdown" data-target=".dropdown-menu-2">
                                            <span class="li-left-icon">/</span>what we do</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-listings dropdown-menu-2">
                                            <a class="" href="/what-we-do#page-menu-index1">Music Direction</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-do#page-menu-index2">Background Music</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-do#page-menu-index3">Events & Fashion Shows</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-do#page-menu-index4">Sync Music</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-do#page-menu-index5">Copyrights Management</a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/what-we-deliver" class="menu-list-first" data-toggle="dropdown" data-target=".dropdown-menu-3">
                                            <span class="li-left-icon">/</span>what we deliver</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-listings dropdown-menu-3">
                                            <a class="" href="/what-we-deliver#page-menu-index1">Optimized Device</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-deliver#page-menu-index2">Easy-to-use Solution</a> <span class="li-left-small-icon">/</span>
                                            <a class="" href="/what-we-deliver#page-menu-index3">Updated tailor-made selection</a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/references" class="menu-list-first">
                                            <span class="li-left-icon">/</span>references</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/contacts" class="menu-list-first">
                                            <span class="li-left-icon">/</span>contacts</span>
                                        </a>
                                    </li>

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <section id="content" vocab="http://schema.org/" typeof="Content">
            {% block content %}{% endblock %}
        </section>

        <aside>
            {% block aside %}{% endblock %}
        </aside>

        <footer>
            {% block footer %}
                <div id="footer">
                </div>
            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
